/*! normalize.scss v0.1.0 | MIT License | based on git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

@font-face {
  font-family: "lato";
  src: url("../fonts/latoregular/latoregular.woff2") format("woff2"), url("../fonts/latoregular/latoregular.woff") format("woff"), url("../fonts/latoregular/latoregular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "lato";
  src: url("../fonts/latolight/latolight.woff2") format("woff2"), url("../fonts/latolight/latolight.woff") format("woff"), url("../fonts/latolight/latolight.ttf") format("truetype");
  font-weight: 200;
}
@font-face {
  font-family: "lato";
  src: url("../fonts/latobold/latobold.woff2") format("woff2"), url("../fonts/latobold/latobold.woff") format("woff"), url("../fonts/latobold/latobold.ttf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "lato";
  src: url("../fonts/latoblack/latoblack.woff2") format("woff2"), url("../fonts/latoblack/latoblack.woff") format("woff"), url("../fonts/latoblack/latoblack.ttf") format("truetype");
  font-weight: 900;
}
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font: 1rem/1.32 "lato", sans-serif;
  color: #767e9e;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 900;
}

.header {
  position: relative;
  background: url(../img/header.png) no-repeat;
  background-size: cover;
  min-height: 120vh;
}

.header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #F89A60, #D94A41);
  opacity: 0.3;
  z-index: 1;
}

.container {
  margin: 0 auto;
  max-width: 1160px;
  box-sizing: border-box;
}

.wrapper {
  position: relative;
  overflow: hidden;
  min-height: 100%;
}

.header-info {
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: center;
  align-items: center;
  margin-top: 4.8125rem;
  position: relative;
  z-index: 4;
}

.header-title {
  font-size: 3rem;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 0;
}

.header-hr {
  height: 1px;
  border-top: none;
  border-right: none;
  border-left: none;
  width: 5.3125rem;
  color: white;
  margin: 2.5rem;
}

.header-text {
  text-align: center;
  font-size: 1.375rem;
}

.header-list {
  background-color: #E2432E;
  margin: 0;
  padding: 0;
  height: 420px;
  width: 270px;
  position: absolute;
  display: flex;
  list-style-type: none;
  font-size: 1.375rem;
  color: white;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  z-index: 6;
  transition: 0.5s;
}

.header-link {
  text-decoration: none;
  color: white;
}

.ham {
  margin: 40px;
  z-index: 4;
  position: relative;
}

.active {
  margin-left: -600px;
  z-index: 5;
}

.header-icon {
  margin: 0 auto;
  display: block;
  margin-top: 3.125rem;
  z-index: 4;
  position: relative;
}
@media screen and (min-width: 480px) {
  .header-icon {
    margin-top: 6.25rem;
  }
}
@media screen and (min-width: 768px) {
  .header-icon {
    margin-top: 17.3125rem;
  }
}

.intro {
  color: black;
}

.intro-title {
  font-size: 1.875rem;
  text-align: center;
  margin: 100px 0;
}

.intro-line {
  margin-bottom: 100px;
  width: 90px;
}

.intro-text {
  max-width: 49.0625rem;
  text-align: center;
  margin: 0 auto;
  font-size: 1.375rem;
  margin-bottom: 9.375rem;
}

.creative {
  background: url(../img/creative.png) no-repeat center center;
  position: relative;
  min-height: 65vh;
  text-align: center;
  overflow: hidden;
}

.links {
  max-width: 250px;
}
@media screen and (min-width: 768px) {
  .links {
    max-width: 428px;
  }
}

.creative-link {
  text-decoration: none;
  color: white;
  font-size: 1.5625rem;
  display: block;
  border: 3px solid white;
  height: 40px;
  padding: 30px 0;
  margin: 0 auto;
  margin-top: 132px;
  transition-duration: 0.5s;
}
.creative-link:hover {
  background: green;
}

.work {
  color: black;
}

.work-title {
  text-align: center;
  font-size: 1.875rem;
  padding: 70px 0;
}

.line {
  width: 90px;
  background: #000;
}

.title {
  text-align: center;
  font-size: 1.875rem;
  padding: 70px 0;
  margin-top: 0;
}

.text {
  max-width: 48.75rem;
  text-align: center;
  font-size: 1.375rem;
  margin: 70px auto;
}

.work-nav {
  padding: 90px 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .work-nav {
    flex-direction: row;
    justify-content: space-around;
  }
}

.work-nav-item {
  margin-bottom: 30px;
}

.work-link {
  text-decoration: none;
  font-size: 1.125rem;
  color: black;
  padding: 5px;
}
.work-link:hover {
  color: green;
}

.work-active {
  font-weight: bold;
}

.work-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media screen and (min-width: 480px) {
  .work-items {
    justify-content: space-evenly;
  }
}
@media screen and (min-width: 992px) {
  .work-items {
    justify-content: space-around;
  }
}

.work-item {
  min-width: 0px;
}

.work-img {
  max-width: 100%;
  transition: all 0.2s ease-in-out;
}
.work-img:hover {
  transform: scale(1.1);
  border: solid 2px orangered;
}

.work-top {
  margin-bottom: 20px;
}

.work-button {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  display: block;
  border: 3px solid black;
  height: 34px;
  padding: 30px 0;
  margin: 70px auto;
  text-align: center;
  font-weight: bold;
  transition-duration: 0.5s;
}
.work-button:hover {
  background: green;
}

.help {
  background: url(../img/help.png) no-repeat center center;
  position: relative;
  min-height: 65vh;
  text-align: center;
  overflow: hidden;
}

.help-link {
  text-decoration: none;
  color: white;
  font-size: 1.5625rem;
  display: block;
  border: 3px solid white;
  height: 40px;
  padding: 30px 0;
  margin: 0 auto;
  margin-top: 212px;
  transition-duration: 0.5s;
}
.help-link:hover {
  background: green;
}

.client {
  color: black;
  background: #F5F4F3;
}

.client-title {
  text-align: center;
  font-size: 1.875rem;
  padding: 70px 0;
  margin-top: 0;
}

.client-logos {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 60px 0;
}

.client-logo {
  padding: 35px;
}
.client-logo:hover {
  border: 1px black solid;
}

.about {
  color: black;
  padding-bottom: 70px;
}

.about-people {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.about-hire {
  border: 1px solid #000;
  width: 270px;
  height: 360px;
}

.about-item {
  margin: 0 15px;
  margin-bottom: 10px;
  position: relative;
  color: white;
}

.about-img:hover {
  border: 2px solid #000;
}

.about-sub {
  position: absolute;
  bottom: 9%;
  left: 41%;
  font-size: 1.5rem;
}

.about-desc {
  position: absolute;
  bottom: 3%;
  left: 35%;
  font-size: 1.125rem;
}

.about-icon {
  position: absolute;
  top: 3%;
  right: 3%;
}

.about-hire {
  color: black;
}
.about-hire-title {
  text-align: center;
  font-size: 1.5rem;
  margin: 50px;
  margin-top: 120px;
}

.about-link {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  display: block;
  border: 3px solid black;
  max-width: 182px;
  height: 34px;
  padding: 8px 0;
  margin: 30px auto;
  text-align: center;
  font-weight: bold;
  transition-duration: 0.5s;
}
.about-link:hover {
  background: green;
}

.line-about {
  margin-top: -20px;
  width: 90px;
  background: #000;
}

.video {
  background: url(../img/video.png) no-repeat center center;
  min-height: 65vh;
  background-size: cover;
  overflow: hidden;
  position: relative;
}

.video-icon {
  position: absolute;
  left: 48%;
  top: 45%;
}

.features {
  color: black;
}

.feature-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 auto;
  padding: 0;
}

.feature-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 386px;
}

.feat-wrap {
  min-height: 155px;
}

.feature-subtitle {
  font-size: 1.5rem;
}

.circles {
  text-align: center;
  margin: 50px auto;
  display: flex;
  justify-content: center;
  width: 100%;
}

.circle-active {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: orange;
  display: block;
  margin: 10px;
}

.circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #D9D6D1;
  display: block;
  margin: 10px;
}

.now {
  background: url(../img/now.png) no-repeat center center;
  position: relative;
  min-height: 80vh;
  text-align: center;
  overflow: hidden;
}

.now-link {
  text-decoration: none;
  color: white;
  font-size: 1.5625rem;
  display: block;
  border: 3px solid white;
  height: 40px;
  padding: 30px 0;
  margin: 0 auto;
  margin-top: 212px;
  transition-duration: 0.5s;
}
.now-link:hover {
  background: green;
}

.touch {
  color: black;
}

.contact {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  color: black;
}
@media screen and (min-width: 992px) {
  .contact {
    background: #E7E5E2;
    flex-direction: row;
  }
}

.location {
  background: #F3F2F0;
  width: 100%;
}
@media screen and (min-width: 992px) {
  .location {
    width: 40%;
  }
}

.location-title {
  font-size: 1.5rem;
  margin-bottom: 40px;
}

.location-address {
  font-style: italic;
  font-size: 1.375rem;
  margin-bottom: 40px;
}

.location-wrap {
  max-width: 250px;
  margin: 0 auto;
  padding: 80px;
}

.send {
  background: #E7E5E2;
  width: 100%;
}
@media screen and (min-width: 992px) {
  .send {
    width: 60%;
  }
}

.send-form {
  padding-left: 40px;
}
@media screen and (min-width: 992px) {
  .send-form {
    padding-left: 100px;
  }
}

.form-top {
  margin: 0 auto;
  margin-top: 100px;
  max-width: 680px;
}

#input-one {
  margin-right: 50px;
}

.input {
  border: none;
  border-bottom: 1px solid #747494;
  background: #E7E5E2;
  font-style: italic;
  max-width: 260px;
  padding: 20px;
  display: inline-block;
}

.form-bot {
  margin: 0 auto;
  max-width: 680px;
}

#input-bot {
  max-width: 460px;
  border: none;
  border-bottom: 1px solid #747494;
  background: #E7E5E2;
  font-style: italic;
  padding: 20px;
  padding-top: 40px;
}
@media screen and (min-width: 480px) {
  #input-bot {
    width: 460px;
  }
}

.form-bot {
  max-width: 680px;
  margin: 0 auto;
  padding: 0;
}

.form-btn {
  text-align: center;
  background: #E7E5E2;
  margin: 20px;
  width: 180px;
  border: 2px solid black;
  font-size: 1.5rem;
  display: block;
  margin-right: 180px;
  margin-top: 40px;
}
@media screen and (min-width: 992px) {
  .form-btn {
    float: right;
  }
}

.footer {
  background: #262726;
}

.footer-wrap {
  padding: 50px;
  padding-top: 100px;
  margin: 0 auto;
  max-width: 560px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 350px;
}

.footer-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 320px;
  flex-wrap: wrap;
}

.footer-sub {
  margin: 0;
  padding: 0;
  color: #686762;
}

.footer-title {
  margin: 0;
  padding: 0;
  color: white;
  font-weight: normal;
  font-size: 1.5rem;
  max-width: 280px;
}

.footer-bot {
  padding-top: 50px;
}

.footer-or {
  color: orange;
}

/*# sourceMappingURL=main.css.map */
